/* .attendanceButton {
  margin: 20px auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.inButton,
.outButton {
  font-size: 2rem;
  padding: 10px 0;
  width: 45%;
  background: rgba(0, 150, 255);
  border: none;
  color: white;
  cursor: pointer;
}

.inButton:disabled,
.outButton:disabled {
  background: #ccc;
  cursor: not-allowed;
} */